body{
  background-color: #dbddb3;
  text-align: center;
  font-family: "helvetica";
}

.top-line{
  display:flex;
  flex-direction:row;
  justify-content: center;
 
}

#players-turn{
  margin:30px;
  font-weight: bolder;
  font-size: 18pt;
}

#quit{
position:absolute;
margin-left:45%;
margin-right:2%;
}

#rounds-played{
  position:absolute;
  margin-left:-45%; 
}




.card-outline{
  background-color: white;
  border-radius: 40px;
  max-width: 250px;
  height: 400px;
  text-align: center;
  margin: auto;
  position: relative;
  margin-bottom: 20px;

}

.ai-card-outline{
  max-width: 250px;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
}

.winning-card{
  margin-bottom: 50px;
  max-width: 200px;
  margin: auto;
  position: relative;
}

.all-cards-played{
  margin-top: 65px;
  margin-bottom: 50px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  display: none;
}

.radio-labels{
  position: absolute;
  top: 210px;
  left: 15px;
}

.card-contents{
  position: absolute;
  left:25px;
  top:25px;
}

#caption{
  margin-top: 6px;
  font-family: 'baskerville';
  font-style: italic;
  font-size: 16pt;
}

.this-label{
  text-align: right;
  margin-top: -6px;
  margin-left: 20px;
}

#play-card{
 margin:15px; 
}

.game-stats{
  position: fixed;
  height:120px;
  bottom: 0;
  right:0;
  left:0;
  background-color:#81A684;

}


#players-in-game{
position:fixed;
left: 10;
bottom:0;
}

#cards-left{
  display: flex;
  flex-direction: row;
  justify-content:center;
  position:fixed;
  bottom:0;
  right:0;
  left:0;
}

#cards-left-communal{
position:fixed;
bottom:0;
right:10;
}

#rounds-played, #cards-left-0, #cards-left-1, #cards-left-2, #cards-left-3, #cards-left-4{
 text-align:center;
}

#number{
  background-color: white;
  padding: 18px;
  max-width: 25px;
  min-width: 20px;
  border-radius:10px;
  margin-left: 20px;
  margin-right:20px;
}

#number-communal{
  background-color:FFDDE1;
  padding: 20px;
  max-width: 20px;
  border-radius:10px;
  text-align: center;
}

#not-number{
  padding-top: 85px;
}

