body{
  background-color: #dbddb3;
  text-align: center;
  font-family: "helvetica";
}

.top-line{
 background-color:#CBCC96;
 position:fixed;
 top:0;
 left:0;
 right:0;
 height:40px;
}

#players-turn{
  margin-top:65px;
  margin-bottom:20px;
  font-weight: bolder;
  font-size: 18pt;
}

#quit{
position:fixed;
top:10;
right: 10;
}

#rounds-played{
 position:fixed;
top:10;
left: 10;
color:white;
font-size:18px;
}

.middle-line{
  position:fixed;
  top:60;
  bottom:120;
  left:0;
  right:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.players-turn{
  position:fixed;
  top:50;
  left:inherit;
  right:inherit;
}


.card-outline{
  background-color: white;
  border-radius: 40px;
  max-width: 250px;
  min-width: 250px;
  height: 400px;
  text-align: center;
  position: relative;
  margin:auto;
}

.ai-card-outline{
  max-width: 250px;
  margin: auto;
  position: relative;
}

.winning-card{
  margin-bottom: 50px;
  max-width: 250px;
  margin: auto;
  position: relative;
  margin-bottom:45px;
}

.all-cards-played{
  margin-top: 65px;
  margin-bottom: 10px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  display: none;
}

.radio-labels{
  position: absolute;
  top: 210px;
  left: 15px;
}

.card-contents{
  position: absolute;
  left:25px;
  top:25px;
}

#caption{
  margin-top: 6px;
  font-family: 'baskerville';
  font-style: italic;
  font-size: 16pt;
}

.this-label{
  text-align: right;
  margin-top: -6px;
  margin-left: 20px;
}

.play-card{
  position:fixed;
  bottom:130;
  left:0;
  right:0;
}

#play-card{
 margin:auto; 
}

#end-game{
  margin:auto;
}

.game-stats{
  position: fixed;
  height:75px;
  bottom: 0;
  right:0;
  left:0;
  background-color:#81A684;
  background-color:#CBCC96;
  
  border-bottom: solid;
  border-bottom-width: 31px;
  border-bottom-color:#dbddb3;

}


#players-in-game{
position:fixed;
bottom:-10;
left:10;
right:0;
text-align:left;
font-weight:bold;
font-size:16;
}

#cards-left{
  display: flex;
  flex-direction: row;
  justify-content:center;
  position:fixed;
  bottom:-10;
  right:0;
  left:0;
}

#cards-left-communal{
position:fixed;
bottom:-10;
right:10;
}

#rounds-played, #cards-left-0, #cards-left-1, #cards-left-2, #cards-left-3, #cards-left-4{
 text-align:center;
 font-weight:bold;
}

#number{
  background-color: white;
  font-family:helvetica;
  font-weight:bold;
  padding: 18px;
  max-width: 25px;
  min-width: 20px;
  border-radius:10px;
  margin-left: 20px;
  margin-right:20px;
  text-align: center;
}

#number-communal{
  background-color:#F7E3E3;
  padding: 20px;
  max-width: 20px;
  border-radius:10px;
  text-align: center;
  margin-left:12px;
}
