body{
    font-family: Helvetica;
}

h1{
    color: green;
    font-size: 80px;
    font-weight: bold;

}

.title{
  align-content: center;
}

#firstWord{
  float: left;
  width: 50%;
}

#secondWord{
  float: left;
  width: 50%;
}

.buttonsContainer{
    text-align: center;
    vertical-align: bottom;
}

.buttons{
    padding: 10px;
    color: #ffa088;
    display: inline-block;

}
