body{
    font-family: Helvetica;
    background-color: #dbddb3;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

#title{
  max-width:600;
  margin:auto;
}

.winner-message{
  position:relative;
  text-align:center;
  margin:auto;
}

.buttonsContainer{
  margin:auto;
}

#winner{
  position:relative;
  bottom:130;
}

.choose_players{
 font-family:baskerville;
 font-size:24;
 font-style:italic;
 text-align:right;
}

.view-stats{
 margin-top:-15px;
text-align:right;
}
