body{
  background-color: #dbddb3;
  text-align: center;
  font-family: "helvetica";
}

.top-line{
  overflow: hidden;
  padding-bottom: 10px;
  font-weight: bolder;
  padding-top: 10px;
  font-size: 16pt;
}

#quit{
  float: right;
}

.play-card{
text-align: center;
margin-bottom: 20px;
}

.game-stats{
  text-align: right;
}

#number-of-cards, #count-of-rounds{
  display:inline-block;
}

.card-outline{
  background-color: white;
  border-radius: 40px;
  max-width: 250px;
  height: 400px;
  text-align: center;
  margin: auto;
  position: relative;
  margin-bottom: 50px;

}

.ai-card-outline{
  margin-bottom: 50px;
  max-width: 250px;
  height: 400px;
  margin: auto;
  position: relative;
}

.winning-card{
  margin-bottom: 50px;
  max-width: 250px;
  height: 400px;
  margin: auto;
  position: relative;
}

.all-cards-played{
margin-top: 30px;
margin-bottom: 50px;
display: none;
}

.radio-labels{
  position: absolute;
  top: 210px;
  left: 15px;
}

.card-contents{
  position: absolute;
  left:25px;
  top:25px;
}

#caption{
  margin-top: -3px;
  font-family: 'baskerville';
  font-style: italic;
  font-size: 14pt;
}

.this-label{
  text-align: right;
  margin-top: -6px;
  margin-left: 20px;
}
