body{
    font-family: Helvetica;
    background-color: #dbddb3;
}

h1{
    color: green;
    font-size: 60px;
    font-weight: bold;
}

.title{
  text-align:right;
  position:fixed;
  left:100;
 }


.winner-message{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  margin:200px;
  text-align:center;
}

.buttonsContainer{
  position:fixed;
  text-align:center;
  right:0;
  left:0;
  bottom:80;
  max-width:260;
  margin:auto;
}

.choose_players{
 font-family:baskerville;
 font-size:24;
 font-style:italic;
 text-align:right;
}

.view-stats{
  margin-top:-15px;
text-align:right;
}
